* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: all 1s ease-out;
}
body.isLight {
  background: var(--background-color);
}

body.isDark {
  background: var(--dark-mode);
  color: var(--light-mode);
  #envoi-btn {
    background: black;
  }
  .fields > input {
    border: 1px solid var(--light-mode);
    
  }
  .filter-bar{
    box-shadow:
    -5px 5px 17px 0px var(--dark-mode),
    0px 1px 5px var(--dark-mode);
  }
}
:root {
  --primary-color: #5c88ee;
  --background-color: #bacfff;
  --text-color: #333;
  --text-field-color: rgba(234, 240, 240, 0.28);
  --card-color: #eaf0f0;
  --gray-text-color: #919191;
  --border-text-field-color: #004dff;
  --dark-mode: #333;
  --light-mode: #eaf0f0;
}

.app {
  width: 100%;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: clamp(6rem, 3vw, 7rem);
  height: clamp(5rem, 3vh, 5rem);
}

.darkMode {
  cursor: pointer;
  position: relative;
  width: clamp(6rem, 3vw, 7rem);
  height: 40px;
  margin-right: 10px;
  border-radius: 20px;
  transition: all 1s linear;

  display: flex;
  align-items: center;
}

.darkMode.isDark {
  background-color: var(--background-color);
}

.darkMode.isLight {
  background-color: var(--dark-mode);
}

.toggle-icon-mode {
  position: absolute;
  width: 50%;
  height: 80%;
  object-fit: contain;
  transition: all 1s linear;
  transform: translateX(100%);
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding: 0.3rem;
}

/* Patient form section */

.left-side {
  width: 40%;
  padding: 2rem;
}

.left-side__title {
  font-size: (1rem, 2vw, 2rem);
}

/*form*/

.fields {
  display: grid;
  gap: 0.6rem;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  padding: 1.5rem;
  width: 100%;
}

.fields > input {
  all: unset;
  border: 1px solid var(--border-text-field-color);
  height: 3rem;
  border-radius: 1rem;
  color: white;
  padding: 5px;
}

#envoi-btn {
  all: unset;
  text-align: center;
  background-color: white;
  width: 50%;
  padding: 10px;
  margin-left: 25%;
  border-radius: 10px;
}

/*  Registred patients section  */

.right-side {
  width: 60%;
  padding: 2rem;
  height: 100vh;
}

.right-side__title {
  font-size: (1rem, 2vw, 2rem);
}

.right-side__header {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.right-side__header > h5 {
  color: var(--gray-text-color);
  width: 10%;
  font-size: (1rem, 2vw, 2rem);
}

.patient-data {
  padding: 2px 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #eaf0f0;
  height: 3.5rem;
}

.row {
  margin-bottom: 1.5rem;
  box-shadow:
    -5px 5px 17px 0px var(--primary-color),
    0px 1px 5px var(--primary-color);
  border-radius: 10px;
  position: relative;
  left: 0;
  transition: all 0.2s linear;
}

.deleted-image img {
  width: 4rem;
  height: 3rem;
}

.deleted-image {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.deleted-image.show {
}

.deleted-image.hide {
}

.patient-data > p {
  width: 10%;
  overflow-wrap: break-word;
  font-size: 0.7rem;
}

/* Message pop-up Section*/

.message-popup {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: var(--primary-color);
  width: 30%;
  height: 30%;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow:
    5px 5px 5px var(--text-field-color),
    -5px -5px 5px var(--text-field-color);
  transform: translate(-50%, -50%);
  transition: all 1s ease-in-out;
}

/* Show & hide the popup using JS-DOM, if is it an error i'll set 'show' class otherwise 'hide' class*/

.message-popup.show {
  display: block;
}

.message-popup.hide {
  display: none;
}

.warning {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.warning h3 {
  color: red;
}

.warning img {
  width: 4rem;
  height: 4rem;
}

/*Pagination section*/

.pages-pagination-controller {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  margin-top: 2rem;
  transition: all 3s linear;
}

.pages-pagination-controller.show {
  display: flex;
}

.pages-pagination-controller.hide {
  display: none;
}

.pervious-page-controller img,
.next-page-controller img {
  width: 2rem;
  height: 2rem;
  box-shadow:
    -5px 5px 17px 0px var(--primary-color),
    0px 1px 5px var(--primary-color);
  cursor: pointer;
}

.pervious-page-controller,
.next-page-controller {
  background-color: var(--primary-color);
  border-radius: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}
.data {
  width: 100%;
}

.notfound {
  display: flex;
  margin: 1rem auto;
  width: 50%;
}
/*Show & Hide not found content*/
.notfound.hide {
  display: none;
}
.notfound.show {
  display: block;
}

/* Search and Filter feature*/
.search-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
#search {
  all: unset;
  border: 1px solid var(--border-text-field-color);
  height: 2rem;
  border-radius: 1rem;
  color: white;
  padding: 5px;
}

.filter-bars {
  display: flex;
  gap: 10px;
  height: 30px;
}
.filter-bar {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: max-content;
  padding: 0.5rem 1rem;
  background: transparent;
  color: white;
  border-radius: 0.4rem;
  border: 1px white solid;
  cursor: pointer;
  box-shadow:
    -5px 5px 17px 0px var(--primary-color),
    0px 1px 5px var(--primary-color);
}
.filter-bar.selected {
  background: var(--background-color);
}
/* Media query Mobile */

@media (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left-side {
    width: 100%;
    height: 50%;
  }
  .right-side {
    width: 100%;
    height: fit-content;
  }
  .fields {
    display: grid;
    grid-template-columns: 1fr;
  }
  .message-popup {
    width: 30%;
    height: 15%;
  }
}

/* Tablet (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}
